
# Set this to 'false' to use the username:password pairs, instead of just a single password.
password_only: false

# Change the password to something else.
password: '$P$FRCYYWbidN70MgWhg4m.eWu3ivNShV/' # password is "hunter42"

# Set the encryption to use for the passwords. Options are:
#  - plaintext: No encryption is used, passwords are plain text. Not very good.
#  - md5: basic one-way hashing. Not very good, but better than plaintext.
#  - password_hash: Good, proper one-way hashing. This is the preferred option.
# To generate hashed passwords for your visitors, go to
# `/bolt/generatepasswords` to create password hashes. Note that you must be
# logged on to the Bolt backend, to do so.
encryption: password_hash

visitors:
  bob: '$P$FFx1OIjh3Ndi6fmClr1.lWH/GsWqvS.'
  mom: '$P$FwTfrVOp/1QEpYuI3GFfcmGlDtxhMn.'

# The page to redirect people to, when they're not logged in.
# note: this is NOT an URL, but must be a contenttype/slug combination.
redirect: 'page/login'

message_correct: "Thank you for providing the correct password. You now have access to the protected pages."
message_wrong: "The password was not correct. Try again."

# Don't change this, unless you like living on the edge.
form: assets/form.twig

#Content type to restrict users on
contenttype: [members-only-post, event]