
# Set this to 'false' to use the username:password pairs, instead of just a single password.
password_only: false

# Change the password to something else.
password: '$2y$10$E1MSyq3vg.urUr1VI2S1q.yyVpV1qDKJfimajPcbsPFjI3O7fYrce' # password is "hunter42"

visitors:
  bob: '$2y$10$E1MSyq3vg.urUr1VI2S1q.yyVpV1qDKJfimajPcbsPFjI3O7fYrce' # password is "hunter42"
  mom: '$2y$10$E1MSyq3vg.urUr1VI2S1q.yyVpV1qDKJfimajPcbsPFjI3O7fYrce' # password is "hunter42"

# The page to redirect people to, when they're not logged in.
# note: this is NOT an URL, but must be a contenttype/slug combination.
redirect: 'page/login'

message_correct: "Thank you for providing the correct password. You now have access to the protected pages."
message_wrong: "The password was not correct. Try again."

# Template to use for the password form. Best practice is to copy the form to your
# own theme folder, and modify it there.
form: passwordform.twig

# You can use this option to restrict access to an entire Contenttype
# Note: use the PLURAL form of the slug, here!
# contenttype: [ entries ]
