{% extends "_base/_page-nav.twig" %}

{% block page_nav 'Settings/ExtendBolt' %}

{% block page_title %}
    {{ __('Edit Password') }}
{% endblock page_title %}

{% block page_subtitle %}
{% endblock page_subtitle %}

{# clear default messages, because we use them in a different spot, in this template #}
{% block messages "" %}

{% block page_main %}

    {% if oldPassword %}
        <div class="alert alert-warning">
            <button class="close" data-dismiss="alert">×</button>
            The password is currently set to <strong>{{ oldPassword }}</strong>
        </div>
    {% endif %}

    {% if password %}
        <div class="alert alert-success">
            <button class="close" data-dismiss="alert">×</button>
            The password has been saved successfully to <strong>{{ password }}</strong>!
        </div>
    {% endif %}

    <form action="#" method="post" class="passwordprotect" style="max-width: 360px; padding: 20px;">
        <fieldset>
            <p>Change password:</p>
            {{ form_widget(form) }}
            <br>
            <div class="btn-group">
                <input id="savecontinuebutton" class="btn-primary btn" type="submit" name="password" value="Save!" />
            </div>
        </fieldset>
    </form>


{% endblock %}