<style>
    p.message-correct {
        border: 1px solid #9F9;
        background-color: #DFD;
        font-weight: bold;
        color: #060;
        padding: 4px 8px;
    }

    p.message-wrong {
        border: 1px solid #F99;
        background-color: #FDD;
        font-weight: bold;
        color: #600;
        padding: 4px 8px;
    }

</style>

{% if notice is not empty %}
    {{ notice }}
{% endif %}

<form action="#" method="post" class="passwordprotect">
    <fieldset>
    {% if not passwordprotect_username() %}
        {{ form_widget(form) }}
        <input class="button" type="submit" name="Log on!" value="Log on!" />
    {% else %}
        <input type="hidden" id="form__token" name="form[_token]" value="{{ form._token.vars.value }}" />
        <p>You are already logged on. Click the button below to log off.</p>
        <input class="button" type="submit" name="Log off!" value="Log off!" />
    {% endif %}
    </fieldset>
</form>
