<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Password generator</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/foundation.min.css">
    <style>
        p.message-correct {
            font-weight: bold;
            margin: 20px;
            max-width: 360px;
        }

    </style>

{% if password %}
    <p class='message-correct'>
        The generated <code>password_hash</code> is:  <input type='text' value="{{ password }}">
    </p>
{% endif %}

<form action="#" method="post" class="passwordprotect" style="max-width: 360px; padding: 20px;">
    <fieldset>
    <p>Generate a hashed password:</p>
        {{ form_widget(form) }}
        <input class="button" type="submit" name="Generate!" value="Generate!" />
    </fieldset>
</form>

</body>
</html>