<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Password generator</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/foundation.min.css">
    <style>
        p.message-correct {
            font-weight: bold;
            max-width: 460px;
        }

    </style>

<form action="#" method="post" class="passwordprotect" style="max-width: 640px; padding: 20px;">
    <fieldset>
    <p>Generate a hashed password:</p>

        {{ form_widget(form) }}
        <input class="button" type="submit" name="Generate!" value="Generate!" />

        {% if password %}
            <p class='message-correct'>
                The generated password_hash for <code>{{ input }}</code> is: <input type='text' value="{{ password }}" style="width: 560px">
            </p>
        {% endif %}

    </fieldset>
</form>




</body>
</html>